torch==2.1.0
torchvision
accelerate==1.0.1
bitsandbytes
open_clip_torch
datasets
peft==0.14.0
pillow
wandb
dask
pyarrow
huggingface_hub
pytorch-lightning
tqdm
transformers==4.47.1
numpy==1.26.4
gradio
diffusers==0.32.1
termcolor
einops
opencv-python
matplotlib
onnxruntime
addict
yapf
prettytable==3.16.0
scipy